<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Page</title>
    <link rel="stylesheet" href="./static/css/page.css" media="screen" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a ui-sref='index'>Main</a></li>
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      </ul>
    </nav>
    <div class="page-header">
      <h1>Non Profit Admin Page</h1>
    </div>
    <div class="row" ng-controller="mainController">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Volunteers Info</h1>
          <div class="volInfo">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="col-md-5">About</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='vol in volunteers'>
                    <td>{{$index + 1}}</td>
                    <td>{{vol.firstName}}</td>
                    <td>{{vol.lastName}}</td>
                    <td>{{vol.email}}</td>
                    <td>{{vol.phone}}</td>
                    <td>{{vol.about}}</td>
                    <td>{{vol.created_at | date: longdate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Email List</h1>
          <div class="adminMail">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Email address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='email in emails'>
                    <td>{{$index + 1}}</td>
                    <td>{{email.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Photos</h1>
          <button type="button" ng-click="delete()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
          <br>
          <br>
          <div class="adminPhoto">
            <div class="row">
              <div class="col-md-12">
                <div ng-click="pic.selected = !pic.selected" ng-class="{'selected-image': pic.selected}" class='photoStorage' data-ng-repeat="pic in pics.Contents"><img style="width:100%; height:100%;" ng-src="https://s3-us-west-1.amazonaws.com/BucketName/{{pic.Key}}"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">

            <h3>Select files</h3>

            Multiple
            <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader.queue.length }}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
