<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Board of Directors</title>
    <link rel="stylesheet" href="./static/css/page.css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container-fluid mainContent" ng-controller="pageController">

      <nav class="navbar navbar-fixed-top" style="background-color: #0F528C;">

        <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
          <li uib-dropdown="">
            <a href="#" uib-dropdown-toggle="">About Us<b class="caret"></b></a>
            <tree tree="tree"></tree>
          </li>
          <li>
            <form action="" method="post">
              <button type="submit" class="donateBtn btn btn-danger" name="button"><i class="fa fa-heart"></i> DONATE</button>
            </form>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class='center heading'>Board of Directors</h1>
        </div>

        <div class="col-md-4 col-md-offset-3">
          <h1>Welcome</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.<a href="">Yahooooooooo</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="">Yahooooooooo</a>.</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img style="border-radius:4px" src=""/>
        </div>
        <div class="center col-md-10 col-md-offset-1">
          <hr>
          <h3>Bill</h3>
          <h3>Brianna</h3>
          <h3>Brian</h3>
          <h3>Brett</h3>
          <hr>
          <div class="line"></div>
          <h1>Advisors</h1>
          <h4>Bob</h4>
          <h4>Bridget</h4>
          <h4>Barnabe</h4>
          <h4>Barbara</h4>
          <h4>Bonnie</h4>
          <h4>Blake</h4>
          <h4>Bam</h4>
          <h4>Blaine</h4>
          <h4>Bralexander</h4>
          <h4>Brooke</h4>
          <h4>Bethany</h4>
          <h4>Bailey</h4>
          <h4>Bradley</h4>
        </div>


      </div>
    </div>
  </body>
</html>
